{{>partials/header}}
    <div id="root" class="root animation">
        <div class="PageCentral">

            {{>partials/headerSec}}
            <section class="ExperienceSection blackPage centerPage  linePage">
                <div class="experienceWidth flex-center" style="gap: 32px;">
                    <div class="projectsCard hover flex-center">
                        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10 14H54V44C54 44.5304 53.7893 45.0391 53.4142 45.4142C53.0391 45.7893 52.5304 46 52 46H42C41.4696 46 40.9609 45.7893 40.5858 45.4142C40.2107 45.0391 40 44.5304 40 44V38H24V52C24 52.5304 23.7893 53.0391 23.4142 53.4142C23.0391 53.7893 22.5304 54 22 54H12C11.4696 54 10.9609 53.7893 10.5858 53.4142C10.2107 53.0391 10 52.5304 10 52V14Z"
                                stroke="#7B4AE2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M24 30H10" stroke="#7B4AE2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M24 14V38" stroke="#7B4AE2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M40 30H54" stroke="#7B4AE2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M40 14V38" stroke="#7B4AE2" stroke-linecap="round" stroke-linejoin="round" />
                            <g filter="url(#filter0_d_21_2891)">
                                <circle cx="32" cy="34" r="20" fill="#7B4AE2" fill-opacity="0.2"
                                    shape-rendering="crispEdges" />
                            </g>
                            <defs>
                                <filter id="filter0_d_21_2891" x="8" y="14" width="48" height="48"
                                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                    <feOffset dy="4" />
                                    <feGaussianBlur stdDeviation="2" />
                                    <feComposite in2="hardAlpha" operator="out" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="BackgroundImageFix"
                                        result="effect1_dropShadow_21_2891" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_21_2891"
                                        result="shape" />
                                </filter>
                            </defs>
                        </svg>
                        <p class="p">Em busca de<br>
                        <p class="strong">Oportunidades</p>
                        </p>

                    </div>
                    <div class="devCard hover flex-center">
                        <svg width="76" height="64" viewBox="0 0 76 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 22L4 32L16 42" stroke="#7B4AE2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M48 22L60 32L48 42" stroke="#7B4AE2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M40 10L24 54" stroke="#7B4AE2" stroke-linecap="round" stroke-linejoin="round" />
                            <g filter="url(#filter0_d_21_2879)">
                                <circle cx="52" cy="34" r="20" fill="#7B4AE2" fill-opacity="0.2"
                                    shape-rendering="crispEdges" />
                            </g>
                            <defs>
                                <filter id="filter0_d_21_2879" x="28" y="14" width="48" height="48"
                                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                    <feOffset dy="4" />
                                    <feGaussianBlur stdDeviation="2" />
                                    <feComposite in2="hardAlpha" operator="out" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="BackgroundImageFix"
                                        result="effect1_dropShadow_21_2879" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_21_2879"
                                        result="shape" />
                                </filter>
                            </defs>
                        </svg>
                        <p class="p">1 ano como <br>
                        <p class="strong">Programador</p>
                    </div>
                </div>
                <div class="ExperienceDesc flex-center">
                    <div class="projectGroup">
                        <p class="p">Diversos projetos e<br>
                        <p class="strong">Experiências</p>
                    </div>
                    <div class="devGroup">
                        <p class="p">Desenvolvedor<br>
                        <p class="strong">Full-Stack</p>
                    </div>
                </div>
            </section>
            <section class="aboutMe centerPage area-1">
                <div class="aboutMeTwo flex-center">
                    <img src="/images/gato.jpg" alt="">
                </div>
                <div class="aboutMeOne">
                    <p class="active text">Sobre mim</p>
                    <h1 class="h1 text">Cauã Wriel <br> Santos Thomé</h1>
                    <p class="text">Desenvolvedor Full Stack com experiência de 1 ano em JavaScript, TypeScript e
                        Bootstrap.
                        Recentemente, ampliando meus conhecimentos sobre Node.js, APIs e Banco de Dados. <br>Sou
                        apaixonado pela área de programação desde muito cedo e decidi transformar essa paixão em uma
                        carreira. Comecei a trabalhar como freelancer Recentemente, oferecendo meus serviços de
                        desenvolvimento web. Com o foco de ter oportunidade de aprimorar minhas habilidades técnicas e
                        adquirir um vasto conhecimento sobre as melhores práticas de desenvolvimento.</p>
                </div>
            </section>
            <section class="projects centerPage area-2">
                <div class="titleProjects flex-center">
                    <h1 class="h1 text">PROJETOS</h1>
                    <p class="text active">confira alguns dos meus projetos</p>
                </div>
                <div class="projectsInitial">
                    <div class="project 1 hover">
                        <div class="content">
                            <div class="info">
                                <h3>gato!</h3>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perferendis modi unde
                                aspernatur qui, repellendus eveniet quod temporibus sit, quam neque porro quo ex eius
                                cumque consequuntur eum quibusdam error?
                            </div>
                            <div class="tags-and-banner">
                                <img src="/images/gato.jpg" alt="">
                                <div class="tagsInitial">
                                    <div class="tags">Html</div>
                                    <div class="tags">Css</div>
                                    <div class="tags">Typescript</div>
                                    <div class="tags">Mustache</div>
                                    <div class="tags">MongoDb</div>
                                    <div class="tags">Javascript</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="project 2 hover">
                        <div class="content">

                        </div>
                    </div>
                    <div class="project 3 hover">
                        <div class="content">

                        </div>
                    </div>
                    <div class="project 4 hover">
                        <div class="content">

                        </div>
                    </div>
                </div>
            </section>
            <section id="skills" class="centerPage skillsHab area-3">
                <div class="titleProjects flex-center">
                    <h1 class="h1 text">habilidades</h1>
                    <p class="text active">Habilidades conquistadas</p>
                    <div class="techs">
                        <img class="techImage" src="/images/gitbass.svg" alt="">
                        <img class="techImage" src="/images/github.svg" alt="">
                        <img class="techImage" src="/images/css.svg" alt="">
                        <img class="techImage" src="/images/HTML5.svg" alt="">
                        <img class="techImage 2" src="/images/javascript.svg" alt="">
                        <img class="techImage 2" src="/images/TypeScript.svg" alt="">
                        <img class="techImage 2" src="/images/MySQL.svg" alt="">
                        <img class="techImage 2" src="/images/PostGree.svg" alt="">
                        <img class="techImage 3" src="/images/Nodejs.svg" alt="">
                        <img class="techImage 3" src="/images/mongoDb.svg" alt="">
                    </div>
            </section>
            <section class="centerPage area-4">
                <div class="titleProjects flex-center">
                    <h1 class="h1 text">SERVIÇOS</h1>
                    <p class="text active">Um pouco dos serviços que tenho a oferecer!</p>
                </div>
                <div class="services">
                    <div class="Api">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                            stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 13h5"></path>
                            <path d="M12 16v-8h3a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-3"></path>
                            <path d="M20 8v8"></path>
                            <path d="M9 16v-5.5a2.5 2.5 0 0 0 -5 0v5.5"></path>
                        </svg>
                        <h1 class="text ">Desenvolvimento de APIs</h1>
                        <p class="text">Projeto APIs para permitir a comunicação entre diferentes sistemas, fornecendo
                            acesso a dados e funcionalidades específicas.</p>
                    </div>
                    <div class="developer">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                            width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path
                                d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-5 14H4v-4h11v4zm0-5H4V9h11v4zm5 5h-4V9h4v9z">
                            </path>
                        </svg>
                        <h1 class="text">Desenvolvimento de Site</h1>
                        <p class="text">Crio sites interativos e responsivos usando HTML, CSS e JavaScript, combinando
                            com outros frameworks</p>
                    </div>
                    <div class="Designer">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                            width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path
                                d="M20.97 7.27a.996.996 0 000-1.41l-2.83-2.83a.996.996 0 00-1.41 0l-4.49 4.49-3.89-3.89c-.78-.78-2.05-.78-2.83 0l-1.9 1.9c-.78.78-.78 2.05 0 2.83l3.89 3.89L3 16.76V21h4.24l4.52-4.52 3.89 3.89c.95.95 2.23.6 2.83 0l1.9-1.9c.78-.78.78-2.05 0-2.83l-3.89-3.89 4.48-4.48zM5.04 6.94l1.89-1.9L8.2 6.31 7.02 7.5l1.41 1.41 1.19-1.19 1.2 1.2-1.9 1.9-3.88-3.88zm11.23 7.44l-1.19 1.19 1.41 1.41 1.19-1.19 1.27 1.27-1.9 1.9-3.89-3.89 1.9-1.9 1.21 1.21zM6.41 19H5v-1.41l9.61-9.61 1.3 1.3.11.11L6.41 19zm9.61-12.44l1.41-1.41 1.41 1.41-1.41 1.41-1.41-1.41z">
                            </path>
                        </svg>
                        <h1 class="text">UI/UX Designer</h1>
                        <p class="text">Crio layouts e designs atraentes para interfaces de usuário, garantindo uma
                            experiência visualmente agradável e intuitiva.</p>
                    </div>
                </div>
            </section>
            <section class="contacts centerPage">
                <div class="titleProjects flex-center">
                    <h1 class="h1 text">Entre em contato!</h1>
                    <p class="text active">Contatos</p>
                    <form action="https://api.staticforms.xyz/submit" class="formContact flex-center centerPage"
                        method="post">
                        <input type="text" name="name" placeholder="Nome" class="w-full max-w" autocomplete="off">
                        <input type="email" class="w-full max-w" name="email" placeholder="E-mail" autocomplete="off">
                        <textarea name="message" id="resize" class="textarea w-full max-w" maxlength="500"
                            autocomplete="off"></textarea>

                        <input type="hidden" name="accessKey" value="9438dfbf-dead-4452-b78c-7ade4179d312">
                        <input type="hidden" name="redirectTo" value="https://example.com/contact/success">
                        <a href="">
                        <button class="box-shadow active py-3 flex-center">
                           <p class="text">Enviar Mensagem</p>
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
                                aria-hidden="true" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>

                        </button>
                        </a>
                    </form>
                </div>
            </section>
{{>partials/footer}}