            <footer class="centerPage text flex-center">
                <span>© 2023 Cauã Wriel. All rights reserved.</span>
            </footer>
        </div>
    </div>

    <script src="public/script.js"></script>
    <script src="public/menu.js"></script>
</body>

</html>