<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cauã Wriel - Back-end/front-end</title>
    <link rel="stylesheet" href="public/style/style.css">
    <link rel="stylesheet" href="/style/responsive.css" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="/style/light.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>